{{> header}}
{{> navigation}}
<section id="content">
    <article>
        {{#categories.length}}
        Categories:
        {{/categories.length}}
        {{#categories}}
            <a href="../categories/{{.}}.html" name="category: {{.}}">{{.}}</a>
        {{/categories}}
        {{{content}}}
    </article>
</section>
{{> sidebar}}
{{> footer}}
