<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="{{global.keywords}}" />
    <meta name="description" content="{{global.description}}" />
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" />
    <link href="../assets/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1><a href="../index.html">{{global.title}}</a></h1>
        <h3 class="description">{{global.subtitle}}</h3>
    </header>
