{{> header}}
{{> navigation}}
<section id="content">
    {{#global.posts}}
        <article>
            <a href="posts/{{file}}" name="{{title}}">{{title}}</a>
            {{{content}}}
        </article>
    {{/global.posts}}
</section>
{{> sidebar}}
{{> footer}}
